@keyframes pulseWarning {
  100% { border-color: red; }
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body, .root {
  height: 100%;
}
body {
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
  background: #f5f5f5;
}

/* CONTACT LIST */
#contacts {
  min-height: 80vh;
}
.contact-search-add {
  width: 100%;
  top: 0;
  border-bottom: 1px solid #d5d8df;
  display: flex;
}
.contact-search {
  width: 100%;
  padding: 20px 20px 20px 60px;
  background-image: url('./icons/search.svg');
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 1.2em;
  font-size: 1.2em;
  border: 0;
  outline: none;
}
.contact-add {
  display: block;
  width: 73px;
  background: white;
  background-image: url('./icons/person_add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  font-size: 0;
}
.contact-text {
  text-align: center;
  margin: 20px 0;
}
.contact-text button {
  color: blue;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
}
.contact-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.contact-list-item {
  padding: 20px;
  background: white;
  display: flex;
  border: 1px solid #d5d8df;
  border-radius: 4px;
  align-items: center;
  max-width: 40em;
  margin: 0.5em auto;
}
.contact-avatar {
  width: 4.5em;
  height: 4.5em;
  margin-right: 1.25em;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.25em;
}
.contact-details {
  padding-left: 20px;
  border-left: 1px solid #eee;
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-details p {
  margin: 0;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.contact-details p:nth-child(1) {
  font-weight: 800;
}
.contact-more {
  width: 32px;
  height: 32px;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  background-image: url('./icons/more_vert.svg');
  background-size: 100% 100%;
}

/* PAGE CONTACT */
#page-contact {
  min-height: 80vh;
}
.page-contact-back {
  display: block;
  width: 60px;
  height: 60px;
  background-image: url('./icons/arrow_back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
  font-size: 0;
}
.page-contact-form {
  padding: 2em;
  max-width: 500px;
  margin: 0 auto;
}
.page-contact-avatar {
  width: 4.5em;
  height: 4.5em;
  background-color: #eee;
  background-image: url('./icons/person.svg');
  background-size: 3em 3em;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 1em;
  border-radius: 0.25em;
  border: 1px solid #ccc;
  cursor: pointer;
}
.page-contact-input {
  width: 100%;
  padding: 0.8em 0.8em 0.5em;
  margin-bottom: 0.5em;
  font-size: inherit;
  border-radius: 0.25em;
  border: 1px solid #ccc;
  cursor: pointer;
}
.page-contact-btn {
  background-color: #000;
  cursor: pointer;
  color: #fff;
  border: none;
  box-shadow: none;
  border-radius: 0.25em;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 24px;
  margin-top: 1em;
  float: right;
}
.page-contact-btn:not([disabled]):hover {
  background-color: #555;
}

/* HEADER & FOOTER */
#header,
#footer {
  background-color: #000;
  color: #f5f5f5;
  text-align: center;
}
#header {
  padding: 0.01em 0;
}
#footer {
  padding: 0.1em 0;
  font-size: 0.8em;
}

/* SWAL */
.swal-text {
  text-align: center;
}
.swal-button {
  color: white;
  background-color: black;
  border-radius: 0.25em;
}
.swal-button--cancel:not([disabled]):hover,
.swal-button--danger:not([disabled]):hover, 
.swal-button:not([disabled]):hover {
  background-color: #555;
}
.swal-icon--warning {
  border-color: red;
}
.swal-icon--warning__body, 
.swal-icon--warning__dot {
  background-color: red;
  border-color: red;
}
